.editar-perfil {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.editar-img {
    position: relative;
    // display: inline-block;;
    display: flex;

    & img {
        border-radius: 20px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    & .botao-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: bold;
        cursor: pointer;
        // opacity: 0;
        transition: opacity 0.3s;
        border-radius: 20px;
    }

}


// Editar foto

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.modal-botoes {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.cancelar {
    background: red;
    color: white;
}

.btn.salvar {
    background: green;
    color: white;
}