.editar-perfil,
.trocar-senha {
    // padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .header-edicao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: url('/imgs-fixas/background-perfil.jpg');
        background-size: contain;
        color: white;
        padding: 10px;
        margin-bottom: 15px;

        .editar-acoes {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin: 10px 0 20px 0;
    
            & button {
                width: fit-content;
                background: none;
                border: none;
                font-size: 16px;
                font-weight: 600;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                gap: 5px;
            }
    
            // & .cancelar {}
    
            & .editar-salvar {
                background-color: #FE8813;
                color: white;
                padding: 10px;
                border-radius: 10px;
                font-size: 14px;
                box-shadow: 1px 1px 4px 1px #0204113f;
            }
        }

        & h1 {
            font-weight: 500;
            color: #dcdcdc;
            font-size: 1.7rem;
        }
    
        & p {
            padding: 10px;
            text-indent: 10px;
            margin: 5px 0;
            font-size: .9rem;
            color: #dcdcdc;
            font-weight: 500;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
        }
    }
    
    & .editar-ilustracao{
        margin: 0 auto;
        max-width: 300px;
        
        & span{
            font-size: .8rem
        }
    }



    & .separador {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 10px 0;

        & hr {
            width: 100%;
            height: 1px;
            border: solid 1px #FE8813;
            ;
        }
    }

}

.container-opcao {
    margin: 20px 0;
}

/* From Uiverse.io by Pradeepsaranbishnoi */
.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgb(2 4 17 / 60%), 0 3px 5px 0 rgb(2 4 17 / 60%);
    padding: 0.75rem;
    border-radius: 99px;
}


.container-opcao input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 4rem;
    font-size: .8rem;
    color: #FE8813;
    font-weight: 600;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}


.container-opcao input[type="radio"]:checked+label {
    color: #FE8813;
}

.container-opcao input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
}

.container-opcao input[id="radio-2"]:checked~.glider {
    transform: translateX(100%);
}

.container-opcao input[id="radio-3"]:checked~.glider {
    transform: translateX(200%);
}

.container-opcao input[id="radio-4"]:checked~.glider {
    transform: translateX(300%);
}

.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 4rem;
    background-color: #fe89136c;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}



// Editar foto
.editar-img {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto;

    & img {
        border-radius: 20px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    & .botao-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: bold;
        cursor: pointer;
        // opacity: 0;
        transition: opacity 0.3s;
        border-radius: 20px;
    }

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 5px;
    // border: 1px solid #fe891360;
    box-shadow: 0px 0px 5px #020411;
}

.modal-botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.cancelar {
    background: white;
    color: #020411;
}

.btn.salvar {
    background: #FE8813;
    color: white;
}