
.main-cadastro-cad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
    max-width: 720px;
    min-height: 100vh;
  }

.tipo-cadastro {
    display: flex;
    gap: 10px;
  }
  
  #btnPedreiro,
  #btnContratante {
    background-color: #020411;
  }
  
  #btnPedreiro:focus,
  #btnContratante:focus {
    outline: none;
  }
  
  #cadastroInicio {
    width: 100%;
  }
  
  #servicosContainer {
    overflow-y: auto;
    height: 400px;
    padding: 10px;
  
    h3 {
      font-size: clamp(14px, 2vw, 16px);
      text-align: left;
      margin-bottom: 15px;
  
      span {
        font-size: clamp(12px, 1vw, 14px);
        font-style: italic;
  
      }
    }  
  }
  
  