

#loginForm {
  width: 100%; // A largura do formulário ocupa 100% da largura disponível no contêiner
  // min-width: 400px;
  padding: 20px;
}

.login-image {
  display: none; // Esconde no mobile

  @media (min-width: 750px) {
      display: block;
      max-width: 55%;
      height: auto;
  }

  img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }
}

.pedreiro-login,
.contratante-login {
  position: absolute;
  height: 70%;
  bottom: 0;
  object-fit: cover;
  display: none;
}

.pedreiro-login {
  left: 0;
}

.contratante-login {
  right: 0px;
}

