.pedreiro-login,
.contratante-login {
  position: absolute;
  height: 70%;
  bottom: 0;
  object-fit: cover;
  display: none;
}

.pedreiro-login {
  left: 0;
}

.contratante-login {
  right: 0px;
}

// Serviços ativos

.servico-ativo{

  & div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }

  // & button{

  // }
}