#servicosContainer {
  scrollbar-width: 10px;
  scrollbar-color: #020411 #fff;
}

.formServicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  padding: 0 10px;
  gap: 20px
}

.cadastro-pedreiro-checkbox {
  display: flex;
  justify-content: center;
  width: 170px;
}

.cadastro-pedreiro-checkbox input[type="checkbox"] {
  display: none;
  /* Esconde o checkbox */
}

.cadastro-pedreiro-checkbox label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  width: 180px;
  background-color: #f0f0f0;
  border: 2px solid #020411;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-pedreiro-checkbox .icone-servico {

  background-color: #020411;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 80px;
    height: auto;
    object-fit: cover;
  }
}

.info-servicos-cadastro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #020411;
  padding: 5px 10px;

  p {
    margin: 0;
    font-size: clamp(10px, 1vw, 12px);
    text-align: left
  }

  ;

  span {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 700;
    text-align: left;
  }
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label {
  /* background-color: #FE8813; */
  border-color: #FE8813;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label .icone-servico {
  background-color: #FE8813;
}

.cabeçalho-logado {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  & a{
    display: flex;

    & img {
      width: 100px;
    }
  }
  

  & button {
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
  }

}

.perfil-detalhes {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #020411;
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 20px;

  & .info-pessoais {
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;

    & div{
      display: flex;
      flex-direction: column;
      width: 100%;

      & span{
        margin-top: 10px;
      }
    }

    & h2 {
      font-weight: 600;
    }

    & p {
      font-size: 11px;
      margin-bottom: -5px;
    }

    & span{
      font-size: 14px;
      color: #FE8813;
    }

    & img {
      width: 80px;
      border-radius: 50%;
      border: solid #FE8813 3px;
    }

  }


  & .info-especiais {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;


    & div {
      text-align: center;

      & .info-avaliacao{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.categorias-perfil{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px;
  padding: 10px 0;
  border-radius: 15px;
  box-shadow: #02041163 1px 2px 5px 1px;

  & .categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    
    & div{
      font-size: 30px;
      display: flex;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
      border-radius: 15px;
      box-shadow: #02041163 1px 2px 5px 1px;
      background-color: #020411;
      color: white;
    }

    & span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40%;
    }
  }
}