// Serviços
#servicosContainer {
  scrollbar-width: 10px;
  scrollbar-color: #020411 #fff;
}

.escolher-servico{
  font-size: 1rem;
  width: 100%;
  // margin: 20px 20px;
  // text-align: center;
}

.formServicos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 0 10px;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.botoes-selecionar-servicos{
  position: fixed;
  bottom: 0;
  margin: 25px;
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: center;
}


// Cadastro de pedreiros

.cadastro-pedreiro-checkbox {
  display: flex;
  justify-content: center;
  width: 170px;
}

.cadastro-pedreiro-checkbox input[type="checkbox"] {
  display: none;
  /* Esconde o checkbox */
}

.cadastro-pedreiro-checkbox label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  width: 180px;
  background-color: #f0f0f0;
  border: 2px solid #020411;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-pedreiro-checkbox .icone-servico {

  background-color: #020411;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 80px;
    height: auto;
    object-fit: cover;
  }
}

.info-servicos-cadastro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #020411;
  padding: 5px 10px;

  p {
    margin: 0;
    font-size: clamp(10px, 1vw, 12px);
    text-align: left
  }

  ;

  span {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 700;
    text-align: left;
  }
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label {
  /* background-color: #FE8813; */
  border-color: #FE8813;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
}

.cadastro-pedreiro-checkbox input[type="checkbox"]:checked+label .icone-servico {
  background-color: #FE8813;
}

.cabeçalho-logado {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  & a {
    display: flex;

    & img {
      width: 100px;
    }
  }


  & button {
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
  }

}

.perfil-detalhes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background: url(/imgs-fixas/background-perfil.jpg) center/cover;
  padding: 50px 10px;
  

  & .info-pessoais {
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    & div {
      display: flex;
      flex-direction: column;

      & span {
        margin-top: 10px;
      }
    }

    & h2 {
      font-weight: 600;
      font-size: 1em;
    }

    & p {
      font-size: 11px;
      margin-bottom: -5px;
    }

    & span {
      font-size: 14px;
      color: #FE8813;
    }

    & img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      border: solid #fff 3px;
      object-fit: cover;
    }

  }


  & .info-especiais {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;


    & div {
      text-align: center;

      & .info-avaliacao {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.categorias-perfil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px auto;
  width: 90%;
  max-width: 450px;
  padding: 10px 0;
  border-radius: 15px;
  position: relative;
  bottom: 50px;
  background-color: #fff;
  z-index: 2;
  box-shadow: #5e5e5e70 2px 3px 6px 2px;

  & .categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;

    & div {
      font-size: 1.5em;
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
      border-radius: 15px;
      box-shadow: #02041163 1px 2px 5px 1px;
      color: white;
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40%;
    }
  }
}

.titulo-categorias{
  font-size: 1em;
  color: #020411;
  margin: -25px 20px 0 20px;
  border-bottom: #FE8813 2px solid;
}

// Serviços prestados, buscador e historico

.servico-ativo, .servico-pendente, .historico-servico{
  margin: 40px 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #5e5e5e70 2px 3px 6px 2px;

  & .cabecalho-servico {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 10px;

    & .icon-servico {
      background-color: #020411;
      border-radius: 10px;
      width: 50px;
      height: 50px;
      padding: 0;

      & img {
        margin: 10px;
        width: 30px;
      }
    }

    & .tipo-servico {
      display: flex;
      flex-direction: column;
      width: 100%;

      & h4 {
        font-weight: 500;
        font-size: 18px;
      }

      & p {
        font-size: 15px;
        color: grey;
      }

      & .valor-servico {
        display: flex;
        flex-direction: column;

        p {
          display: flex;
          flex-direction: column;
          font-weight: 600;
          font-size: 16px;

          & span {
            font-size: 11px;
            font-weight: 600;
            color: gray;
            margin-bottom: -4px;
          }
        }
      }
    }


    & .status-servico {
      display: flex;
      font-size: 12px;
      font-weight: bold;
      text-transform: capitalize;
      text-align: center;
      padding: 5px 10px;
      background-color: #0A8B803a;
      color: #0A8B80;
      height: fit-content;
      border-radius: 10px;
    }

  }

  & .info-servico {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    & .descricao-servico {
      text-indent: 10px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #020411;
      background-color: #7979791a;
      margin: 10px;

      & span {
        color: #666666;
        font-size: 12px;
        font-weight: 600;
      }
    }

  }

  & .prazo-servico {
    display: flex;
    margin-bottom: -10px;
    justify-content: space-between;
    padding: 0 20px;

    & p {
      display: flex;
      flex-direction: column;
      color: #020411;
      font-weight: 600;
      font-size: 16px;

      & span {
        color: gray;
        font-size: 12px;
        margin-bottom: -5px;
      }
    }
  }

  & .linha-tempo-servico {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin: 0 30px;

    & .checkpoint {
      display: flex;
      justify-content: center;
      position: relative;

      & .circulos {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 8px;
      }

      & span {
        position: absolute;
        top: 35px;
        font-size: 13px;
        font-weight: 700;
        color: #020411;
      }
    }

    & .linha {
      flex: 1;
      height: 3px;
    }
  }

  & .local-servico {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px 0;
    gap: 5px;
    color: #332B23;

    & p {
      font-size: 15px;
      font-weight: 600;

    }
  }

  .botoes-servico {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 10px;

    & button {
      margin: 0;
      width: 150px;

    }


    & .finalizar-servico, .aceitar-servico {
      background-color: #FF8812;
      border: none;
      color: white;
    }

    & .contato-servico {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: whitesmoke;
      color: green;
      padding: 5px 15px;

      & span {
        font-size: 14px;
      }
    }
  }


}

// Configurações

.container-configuracoes{
  // background: url("/imgs-fixas/background-config.png");
  // background-size: contain;
  // height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  & .config-categorias{
    display: flex;
    align-items: center;
    max-width: 200px;
    justify-content: center;
    // color: #FFFFFF;
  }
}

