.input-control,
.modal-cards-input-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  // margin-bottom: 15px;
  padding: 25px 0 0 0;
  // max-width: 180px;
}

/* Input */
.form-input {
  font-family: inherit;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #636363;
  line-height: 25px;
  border: 2px solid #636363;
  border-radius: 5px;
  background: transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

/* Placeholder oculto para animação */
.form-input::placeholder {
  color: transparent;
}

/* Animação da label ao digitar */
.form-input:placeholder-shown ~ .form-label {
  font-size: .9rem;
  cursor: text;
  top: 40px;
  margin-left: 15px;
}

/* Estilo da label */
.form-label {
  position: absolute;
  top: 16px;
  margin-left: 10px;
  padding: 0 5px;
  display: block;
  font-size: 0.9rem;
  color: #636363;
  background-color: #FFFFFF;
  font-weight: 500;
  transition: 0.2s;
  pointer-events: none;
}

/* Efeito ao focar no input */
.form-input:focus {
  border-color: #FE8813;
  font-weight: 500;
  color: #020411;
}

/* Efeito ao focar na label */
.form-input:focus ~ .form-label {
  color: #FE8813;
  font-weight: 500;
  font-size: 0.8rem;
  top: 18px;
  padding: 0 5px;
  display: block;
  background-color: #FFFFFF;
  transition: 0.2s;
}

/* Reset no input */
.form-input:required, 
.form-input:invalid {
  box-shadow: none;
}